@page
@model AADWebApp.Areas.Admin.Pages.ListRolesModel
@inject RoleManager<IdentityRole> RoleManager;

@{
    ViewData["Title"] = "List Roles";
    Layout = "~/Areas/Admin/Pages/_AdminLayout.cshtml";
}

<h1>List Roles</h1>

@if (RoleManager.Roles.Any())
{
    <a class="btn btn-primary" style="width:auto" asp-area="Admin" asp-page="/CreateRole">
        Create role
    </a>

    foreach (var role in RoleManager.Roles)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role ID : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Role Name : @role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" style="width:auto" asp-area="Admin" asp-page="/EditRole" asp-route-id="@role.Id">Edit</a>
                <form method="post">
                    <input asp-for="RoleID" value="@role.Id" type="hidden">
                    <button type="submit" asp class="btn btn-primary" onclick="return confirm('Are you sure you want to delete role: @role.Name?')">Delete</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-area="Admin" asp-page="/CreateRole">Create role</a>
        </div>
    </div>
}