@page
@model AADWebApp.Areas.Admin.Pages.ListUsersModel
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "List Users";
    Layout = "~/Areas/Admin/Pages/_AdminLayout.cshtml";
}

<h1>List Users</h1>
@if (UserManager.Users.Any())
{
    <a class="btn btn-primary mb-3" asp-area="Identity" asp-page="/Account/Register">Create user</a>

    <div class="row">
        @foreach (var user in UserManager.Users)
        {
            <div class="col-md-6 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-header">User ID : @user.Id</div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>User Name</th>
                                <td>@user.FirstName @user.LastName</td>
                            </tr>
                            <tr>
                                <th>Email Address</th>
                                <td>@user.NormalizedEmail</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>@user.PhoneNumber</td>
                            </tr>
                            <tr>
                                <th>Email Confirmed</th>
                                <td>@user.EmailConfirmed</td>
                            </tr>
                            <tr>
                                <th>Phone Number Confirmed</th>
                                <td>@user.PhoneNumberConfirmed</td>
                            </tr>
                            <tr>
                                <th>NHS Number</th>
                                <td>@user.NHSNumber</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>@user.City</td>
                            </tr>
                            <tr>
                                <th>General Practioner</th>
                                <td>@user.GeneralPractioner</td>
                            </tr>
                            <tr>
                                <th>Two factor enabled</th>
                                <td>@user.TwoFactorEnabled</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <form method="post">
                            <input asp-for="UserId" value="@user.Id" type="hidden">
                            <button type="submit" asp class="btn btn-danger btn-block" onclick="return confirm('Are you sure you want to delete user: @user.UserName?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="card">
        <div class="card-header">No users created yet</div>
        <div class="card-body">
            <h5 class="card-title">Use button below to create a user</h5>
            <a class="btn btn-primary" style="width:auto" asp-area="Identity" asp-page="/Account/Register">Create user</a>
        </div>
    </div>
}