@page
@model AADWebApp.Areas.Admin.Pages.ListUsersModel
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "List Users";
    Layout = "~/Areas/Admin/Pages/_AdminLayout.cshtml";
}

<h1>List Users</h1>
@if (UserManager.Users.Any())
{
    <button type='button' class='btn btn-primary mb-2' data-toggle='modal' data-target='#user-type-modal'>Create user</button>

    @if (TempData["PasswordResetSuccess"] != null)
    {
        <p class="mb-2 p-2 bg-success text-white rounded">@TempData["PasswordResetSuccess"]</p>
    }

    <div class="row">
        @foreach (var user in UserManager.Users)
        {
            <div class="col-md-6 mb-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-header">User ID : @user.Id</div>
                    <div class="card-body">
                        <table class="table table-sm">
                            <tr>
                                <th>User Name</th>
                                <td>@user.FirstName @user.LastName</td>
                            </tr>
                            <tr>
                                <th>Email Address</th>
                                <td>@user.Email</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>@user.PhoneNumber</td>
                            </tr>
                            <tr>
                                <th>NHS Number</th>
                                <td>@user.NHSNumber</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>@user.City</td>
                            </tr>
                            <tr>
                                <th>General Practioner</th>
                                <td>@user.GeneralPractioner</td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td>@user.FirstName</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>@user.LastName</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <form method="post">
                            <input asp-for="UserId" value="@user.Id" type="hidden">
                            <div class="d-flex">
                                <div class="w-100 d-flex mr-2">
                                    <input type="submit" asp-page-handler="IssuePasswordReset" value="Issue password reset" asp class="btn btn-warning" onclick="return confirm('Are you sure you want to issue a password reset for user: @user.UserName?')" />
                                </div>
                                <input type="submit" asp-page-handler="DeleteUser" value="Delete" asp class="btn btn-danger" onclick="return confirm('Are you sure you want to delete user: @user.UserName?')" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="card">
        <div class="card-header">No users created yet</div>
        <div class="card-body">
            <h5 class="card-title">Use button below to create a user</h5>
            <a class="btn btn-primary" style="width:auto" asp-area="Identity" asp-page="/Account/Register">Create user</a>
        </div>
    </div>
}

<!-- User type selection modal -->
<div class="modal fade" id="user-type-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a user</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <form method="GET" asp-area="Identity" asp-page="/Account/Register">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Role" class="control-label"></label>
                        <select asp-for="Input.Role" class="form-control" asp-items="@Model.Roles" required>
                            <option value="">Select an option</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal" />
                    <input type="submit" value="Create user" class="btn btn-success" id="js-action-btn" />
                </div>
            </form>
        </div>
    </div>
</div>