@page
@using AADWebApp.Services
@model AADWebApp.Areas.GeneralPractitioner.Pages.CancelPrescriptionModel
@{
    ViewData["Title"] = "Cancel Prescription";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1 class="mb-5">Cancel Prescription</h1>

<h3 class="mb-5">Search</h3>
<div id=" Search" class="form-group form-inline mb-5">
    <form class="form-inline">
        <div class="form-group">
            <label class=" control-label ml-3">
                <b>ID</b>
            </label>
            <input type="text" class="form-control ml-5 " placeholder="ID" />
        </div>
        <div class="form-group">
            <label class=" control-label ml-3">
                <b>First Name</b>
            </label>
            <input type="text" class="form-control ml-5 " placeholder="First Name" />
        </div>
        <div class="form-group">
            <label class=" control-label ml-3 ">
                <b>Last Name</b>
            </label>
            <input type="text" class="form-control ml-5 " placeholder="Last Name" />
        </div>

        <button class="input-group-addon btn btn-primary float-right ml-5">Search</button>
    </form>
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">Prescription ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Medication Name</th>
        <th scope="col">Issue Frequency</th>
        <th scope="col">Status</th>
        <th scope="col">Prescription Start</th>
        <th scope="col">Prescription End</th>
        <th scope="col">Cancel</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Prescriptions.Count(); i++)
    {
        var isCancelled = Model.Prescriptions[i].PrescriptionStatus == PrescriptionService.PrescriptionStatus.Terminated;

        <form method="POST">
            <input type="hidden" value="@Model.Prescriptions[i].Id" name="Id" />
            <tr>
                <td>@Model.Prescriptions[i].Id</td>
                <td>@Model.Patients[i].FirstName</td>
                <td>@Model.Patients[i].LastName</td>
                <td>@Model.Medications[i].MedicationName</td>
                <td>@Model.Prescriptions[i].IssueFrequency</td>
                <td>@Model.Prescriptions[i].PrescriptionStatus</td>
                <td>@Model.Prescriptions[i].DateStart.ToShortDateString()</td>
                <td>@Model.Prescriptions[i].DateEnd.ToShortDateString()</td>
                <td>
                    <input type="submit" class="btn btn-primary float-right" value="Cancel" @(isCancelled ? "disabled" : "") />
                </td>
            </tr>
        </form>
    }
    </tbody>
</table>