@page
@using AADWebApp.Services
@model AADWebApp.Areas.Pharmacist.Pages.ReviewPrescriptionsModel
@{
    ViewData["Title"] = "Review Prescriptions";
    Layout = "~/Areas/Pharmacist/Pages/_PharmacistLayout.cshtml";
}

<h1 class="mb-5">Review Prescriptions</h1>

@if (TempData["ReviewPrescriptionSuccess"] != null)
{
    <p class="mb-2 p-2 bg-success text-white rounded">@TempData["ReviewPrescriptionSuccess"]</p>
}
else if (TempData["ReviewPrescriptionFailure"] != null)
{
    <p class="mb-2 p-2 bg-danger text-white rounded">@TempData["ReviewPrescriptionFailure"]</p>
}

<h2 class="mb-5">Pending Approval</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Prescription ID</th>
            <th>Medication Name</th>
            <th>Medication Restriction Level</th>
            <th>Patient Name</th>
            <th>Dosage</th>
            <th>Prescription Start</th>
            <th>Prescription End</th>
            <th>Frequency</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Prescriptions.Count; i++)
        {
            @if (Model.Prescriptions[i].PrescriptionStatus == PrescriptionService.PrescriptionStatus.PendingApproval)
            {
                <form method="POST">
                    <tr>
                        <input type="hidden" value="@Model.Prescriptions[i].Id" name="PrescriptionId" />
                        <td>@Model.Prescriptions[i].Id</td>
                        <td>@Model.Medications[i].MedicationName</td>
                        <td>
                            @if (Model.Medications[i].BloodWorkRestrictionLevel == null)
                            {
                                @Html.Raw("<i>None</i>")
                            }
                            else
                            {
                                @Model.Medications[i].BloodWorkRestrictionLevel.ToString()
                            }
                        </td>
                        <td>@Model.Patients[i].FirstName @Model.Patients[i].LastName</td>
                        <td>@Model.Prescriptions[i].Dosage</td>
                        <td>@Model.Prescriptions[i].DateStart.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].DateEnd.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].IssueFrequency</td>
                        <td>
                            <input type="submit" class="btn btn-sm btn-primary" value="Approved" asp-page-handler="Approved" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-sm btn-primary" value="Declined" asp-page-handler="Declined" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-sm btn-primary" value="Bloodwork" asp-page-handler="AwaitingBloodwork" />
                        </td>
                    </tr>
                </form>
            }
        }
        </tbody>
    </table>
</div>

<h2 class="mb-5">Awaiting Bloodwork</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Prescription ID</th>
            <th>Medication Name</th>
            <th>Medication Restriction Level</th>
            <th>Patient Name</th>
            <th>Dosage</th>
            <th>Prescription Start</th>
            <th>Prescription End</th>
            <th>Frequency</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Prescriptions.Count; i++)
        {
            @if (Model.Prescriptions[i].PrescriptionStatus == PrescriptionService.PrescriptionStatus.AwaitingBloodWork)
            {
                <form method="POST">
                    <tr>
                        <input type="hidden" value="@Model.Prescriptions[i].Id" name="PrescriptionId" />
                        <td>@Model.Prescriptions[i].Id</td>
                        <td>@Model.Medications[i].MedicationName</td>
                        <td>
                            @if (Model.Medications[i].BloodWorkRestrictionLevel == null)
                            {
                                @Html.Raw("<i>None</i>")
                            }
                            else
                            {
                                @Model.Medications[i].BloodWorkRestrictionLevel.ToString()
                            }
                        </td>
                        <td>@Model.Patients[i].FirstName @Model.Patients[i].LastName</td>
                        <td>@Model.Prescriptions[i].Dosage</td>
                        <td>@Model.Prescriptions[i].DateStart.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].DateEnd.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].IssueFrequency</td>
                        <td>
                            <input type="submit" class="btn btn-sm btn-primary" value="Approved" asp-page-handler="Approved" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-sm btn-primary" value="Declined" asp-page-handler="Declined" />
                        </td>
                    </tr>
                </form>
            }
        }
        </tbody>
    </table>
</div>

<h2 class="mb-5">Approved</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Prescription ID</th>
            <th>Medication Name</th>
            <th>Medication Restriction Level</th>
            <th>Patient Name</th>
            <th>Dosage</th>
            <th>Prescription Start</th>
            <th>Prescription End</th>
            <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Prescriptions.Count; i++)
        {
            @if (Model.Prescriptions[i].PrescriptionStatus == PrescriptionService.PrescriptionStatus.Approved)
            {
                <form method="POST">
                    <tr>
                        <input type="hidden" value="@Model.Prescriptions[i].Id" name="PrescriptionId" />
                        <td>@Model.Prescriptions[i].Id</td>
                        <td>@Model.Medications[i].MedicationName</td>
                        <td>
                            @if (Model.Medications[i].BloodWorkRestrictionLevel == null)
                            {
                                @Html.Raw("<i>None</i>")
                            }
                            else
                            {
                                @Model.Medications[i].BloodWorkRestrictionLevel.ToString()
                            }
                        </td>
                        <td>@Model.Patients[i].FirstName @Model.Patients[i].LastName</td>
                        <td>@Model.Prescriptions[i].Dosage</td>
                        <td>@Model.Prescriptions[i].DateStart.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].DateEnd.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].IssueFrequency</td>
                    </tr>
                </form>
            }
        }
        </tbody>
    </table>
</div>

<h2 class="mb-5">Declined</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Prescription ID</th>
            <th>Medication Name</th>
            <th>Medication Restriction Level</th>
            <th>Patient Name</th>
            <th>Dosage</th>
            <th>Prescription Start</th>
            <th>Prescription End</th>
            <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Prescriptions.Count; i++)
        {
            @if (Model.Prescriptions[i].PrescriptionStatus == PrescriptionService.PrescriptionStatus.Declined)
            {
                <form method="POST">
                    <tr>
                        <input type="hidden" value="@Model.Prescriptions[i].Id" name="PrescriptionId" />
                        <td>@Model.Prescriptions[i].Id</td>
                        <td>@Model.Medications[i].MedicationName</td>
                        <td>
                            @if (Model.Medications[i].BloodWorkRestrictionLevel == null)
                            {
                                @Html.Raw("<i>None</i>")
                            }
                            else
                            {
                                @Model.Medications[i].BloodWorkRestrictionLevel.ToString()
                            }
                        </td>
                        <td>@Model.Patients[i].FirstName @Model.Patients[i].LastName</td>
                        <td>@Model.Prescriptions[i].Dosage</td>
                        <td>@Model.Prescriptions[i].DateStart.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].DateEnd.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].IssueFrequency</td>
                    </tr>
                </form>
            }
        }
        </tbody>
    </table>
</div>

<h2 class="mb-5">Terminated</h2>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Prescription ID</th>
            <th>Medication Name</th>
            <th>Medication Restriction Level</th>
            <th>Patient Name</th>
            <th>Dosage</th>
            <th>Prescription Start</th>
            <th>Prescription End</th>
            <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Prescriptions.Count; i++)
        {
            @if (Model.Prescriptions[i].PrescriptionStatus == PrescriptionService.PrescriptionStatus.Terminated)
            {
                <form method="POST">
                    <tr>
                        <input type="hidden" value="@Model.Prescriptions[i].Id" name="PrescriptionId" />
                        <td>@Model.Prescriptions[i].Id</td>
                        <td>@Model.Medications[i].MedicationName</td>
                        <td>
                            @if (Model.Medications[i].BloodWorkRestrictionLevel == null)
                            {
                                @Html.Raw("<i>None</i>")
                            }
                            else
                            {
                                @Model.Medications[i].BloodWorkRestrictionLevel.ToString()
                            }
                        </td>
                        <td>@Model.Patients[i].FirstName @Model.Patients[i].LastName</td>
                        <td>@Model.Prescriptions[i].Dosage</td>
                        <td>@Model.Prescriptions[i].DateStart.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].DateEnd.ToShortDateString()</td>
                        <td>@Model.Prescriptions[i].IssueFrequency</td>
                    </tr>
                </form>
            }
        }
        </tbody>
    </table>
</div>